<template>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth has-text-centered">
        <thead class="py-2">
        <tr>
            <th v-for="(i, idx) in headers" :key="idx" class="">{{i}}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(entry, idx) in entries" :key="idx">
            <td>{{idx}}</td>
            <template v-for="(v, k, idx) in entry">
                <td :key="idx" v-if="allowed.includes(k)">{{v}}</td>
            </template>
            <td>
                <div class="buttons are-small rounded" :key="idx">
                    <button @click="openModalAction({ops: 'update', itemIndex: idx})" class="button is-info px-5">Edit</button>
                    <button @click="deleteFormDataAction(idx)" class="button is-danger">Remove</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>
<script>
    import {mapActions} from "vuex";

    export default {
        name: 'BaseTable',
        props: {
            allowed: Array,
            entries: Array,
            headers: Array
        },
        methods: {
            ...mapActions(['openModalAction', 'deleteFormDataAction'])
        }
    }
</script>