<template>
    <div class="container is-widescreen box my-5">
        <button @click="openModalAction" class="button is-link is-focused px-5 mb-4">Create</button>
        <BaseTable :allowed="allowed" :entries="entries" :headers="headers"/>

        <div class="modal" :class="{ 'is-active': modalFlag }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <router-view/>
            </div>
            <button @click="closeModalAction" aria-label="close" class="modal-close is-large"></button>
        </div>
    </div>
</template>
<script>
    import BaseTable from "./BaseTable"
    import openOrCloseModal from "../../mixins/openOrCloseModal";

    export default {
        name: 'BaseContainer',
        components: {BaseTable},
        props: {
            allowed: {},
            entries: {},
            headers: {}
        },
        mixins: [openOrCloseModal],
    }
</script>