<template>
    <div class="field is-grouped columns mt-6">
        <div class="column is-8"></div>
        <div class="column is-2">
            <button @click="closeModalAction" class="button">Close</button>
        </div>
        <div class="column is-2">
            <button class="button is-primary" @click="createOrUpdateItem">Save</button>
        </div>
    </div>
</template>
<script>
    import {mapActions, mapState} from "vuex";

    export default {
        name: 'BaseFormActions',
        computed: {
            ...mapState(['activeFormData', 'activeOperation'])
        },
        methods: {
            ...mapActions(['updateFormDataAction', 'createFormDataAction', 'closeModalAction']),
            createOrUpdateItem(model, ops){
                model = this.activeFormData
                ops = this.activeOperation;
                if (ops === 'create') this.createFormDataAction(model)
                else if (ops === 'update') this.updateFormDataAction(model)
            }
        }
    }
</script>