<template>
    <VariantCategoryForm />
</template>

<script>
    import VariantCategoryForm from "../forms/VariantCategoryForm";

    export default {
        name: "AddVariantCategory",
        components: {VariantCategoryForm}
    }
</script>

<style scoped>

</style>