<template>
    <VariantCategoryForm :model="getEditVariant"/>
</template>

<script>
    import VariantCategoryForm from "../forms/VariantCategoryForm";
    import {mapGetters} from "vuex";

    export default {
        name: "UpdateVariantCategory",
        components: {VariantCategoryForm},
        computed: {
            ...mapGetters(['getEditVariant'])
        }
    }
</script>

<style scoped>

</style>