<template>
    <ProductCategoryForm />
</template>

<script>
    import ProductCategoryForm from "../forms/ProductCategoryForm";

    export default {
        name: "AddProductCategory",
        components: {ProductCategoryForm}
    }
</script>

<style scoped>

</style>