<template>
    <ProductCategoryForm :model="getEditCategory"/>
</template>

<script>
    import ProductCategoryForm from "../forms/ProductCategoryForm";
    import {mapGetters} from "vuex";

    export default {
        name: "UpdateProductCategory",
        components: {ProductCategoryForm},
        computed: {
            ...mapGetters(['getEditCategory'])
        }
    }
</script>

<style scoped>

</style>