<template>
    <ProductForm />
</template>

<script>
    import ProductForm from "../forms/ProductForm";

    export default {
        name: "AddProduct",
        components: {ProductForm}
    }
</script>

<style scoped>

</style>