<template>
    <ProductForm :model="getEditProduct"/>
</template>

<script>
    import ProductForm from "../forms/ProductForm";
    import {mapGetters} from "vuex";

    export default {
        name: "UpdateProduct",
        components: {ProductForm},
        computed: {
            ...mapGetters(['getEditProduct'])
        }
    }
</script>

<style scoped>

</style>