<template>
    <div class="container notification  is-widescreen box my-5 py-6">
        <div class="is-centered has-text-centered">
            <div class="is-size-3 is-family-code">weDevs Test <span class="is-size-4">4</span> (JavaScript) - Arifur Rahman </div>
            <span class="panel-block my-4"></span>
            <span>
                Click the items below for <strong>CRUD</strong> operation.
            </span>
            <div class="buttons is-centered py-4">
                <router-link class="link" to="/product"><button class="button is-info">Product</button></router-link>
                <router-link class="link" to="/product-category"><button class="button is-warning">Category</button></router-link>
                <router-link class="link" to="/product-brand"><button class="button is-success">Brand</button></router-link>
                <router-link class="link" to="/variant-category"><button class="button is-danger">Variant</button></router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>
.container{
    margin-top: 35vh !important;
}

.link {
    text-decoration: blink !important;
}
</style>