<template>
    <BaseContainer :allowed="allowed" :entries="entries" :headers="headers"/>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import BaseContainer from "./core/BaseContainer";
    import baseMixin from "../mixins/baseMixin";

    export default {
        name: "ProductCategoryBase",
        components: {BaseContainer},
        data:() =>({
            headers: [
                "#ID",
                "Product Category Name"
            ],
            allowed: [
                /*'id', here, id = Index*/
                'name'
            ],
            typeName: 'product_category'
        }),
        mixins: [baseMixin],
        computed: {
            ...mapState(['activeOperation']),
            ...mapGetters({entries: 'getAllCategories'})
        }
    }
</script>

