<template>
    <ProductBrandForm />
</template>

<script>
    import ProductBrandForm from "../forms/ProductBrandForm";

    export default {
        name: "AddProductBrand",
        components: {ProductBrandForm}
    }
</script>

<style scoped>

</style>