<template>
    <ProductBrandForm :model="getEditProductBrand"/>
</template>

<script>
    import ProductBrandForm from "../forms/ProductBrandForm";
    import {mapGetters} from "vuex";

    export default {
        name: "UpdateProductBrand",
        components: {ProductBrandForm},
        computed: {
            ...mapGetters(['getEditProductBrand'])
        }
    }
</script>

<style scoped>

</style>