<template>
    <div class="box px-5">

        <div class="modal" :class="{ 'is-active': nestedModalFlag }">
            <div class="modal-background"></div>
            <div class="modal-content">
                <keep-alive>
                    <!--<router-view />-->
                    <component v-bind:is="activeNestedComponent"></component>
                </keep-alive>
            </div>
            <button @click="closeModal" class="modal-close is-large" aria-label="close"></button>
        </div>

        <div class="label is-size-4 pb-4">{{getPreTitle}}  Product</div>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label has-text-weight-medium">Name</label>
                    <div class="control">
                        <input @input="syncModel(model)" v-model="model.name" class="input" placeholder="e.g. Lux" type="text">
                    </div>
                </div>

                <div class="field">
                    <label class="checkbox py-3 label has-text-weight-medium">
                        <input @input="syncModel(model)" v-model="model.isStockable" type="checkbox">
                        Stockable
                    </label>
                </div>

                <div class="field">
                    <div>
                        <label class="label has-text-weight-medium">Product Brand</label>
                        <multi-select @input="nestedCreate(model.brand, 'brand')" v-model="model.brand" placeholder="Select Product Brand" :options="dropdownsWithCreateNew(getAllProductBrands.map(a => a.name))" :searchable="false"></multi-select>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-weight-medium">Description</label>
                    <div class="control">
                        <textarea @input="syncModel(model)" v-model="model.description" class="textarea" placeholder="Product Description"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-weight-medium">Image</label>
                    <div class="file is-boxed is-fullwidth is-fullwidth">
                        <label class="file-label">
                            <input class="file-input" type="file" name="resume">
                            <span class="file-cta">
                                            <span class="file-icon pb-4">
                                                <i style="font-size: 2em;">&#43;</i>
                                            </span>
                                            <span>
                                                Select Image
                                            </span>
                                        </span>
                        </label>
                    </div>
                </div>
            </div>


            <div class="column">
                <div class="field">
                    <label class="label has-text-weight-medium">SKU</label>
                    <div class="control">
                        <input @input="syncModel(model)" v-model="model.sku" class="input" placeholder="e.g. SKU-1234" type="text">
                    </div>
                </div>

                <div class="field" style="visibility: hidden">
                    <label class="checkbox py-3">
                        <input type="checkbox">
                        dummy
                    </label>
                </div>

                <div class="field">
                    <div>
                        <label class="label has-text-weight-medium">Product Category</label>
                        <multi-select @input="nestedCreate(model.categories, 'categories')" v-model="model.categories" multiple placeholder="Select Product Category" :options="dropdownsWithCreateNew(getAllCategories.map(a => a.name))" :searchable="false"></multi-select>
                    </div>
                </div>

                <div class="field">
                    <label class="label has-text-weight-medium">USP</label>
                    <div class="control">
                        <textarea @input="syncModel(model)" v-model="model.usp" class="textarea" placeholder="Product USP"></textarea>
                    </div>
                </div>


                <div class="field">
                    <div>
                        <label class="label has-text-weight-medium">Variant Category</label>
                        <multi-select @input="nestedCreate(model.variantCategories, 'variantCategories')" v-model="model.variantCategories" multiple placeholder="Select Variant Category" :options="dropdownsWithCreateNew(getAllVariants.map(a => a.name))" :searchable="false"></multi-select>
                    </div>
                </div>
            </div>
        </div>

        <BaseFormActions/>
    </div>
</template>

<script>
    import Product from "../../model/Product";
    import createOrUpdateItem from "../../mixins/createOrUpdateItem";
    import BaseFormActions from "../core/BaseFormActions";
    import {mapGetters} from "vuex";
    import openOrCloseModal from "../../mixins/openOrCloseModal";
    import baseMixin from "../../mixins/baseMixin";
    import VariantCategoryForm from "./VariantCategoryForm";
    import ProductCategoryForm from "./ProductCategoryForm";
    import ProductBrandForm from "./ProductBrandForm";

    export default {
        name: "ProductForm",
        components: {BaseFormActions, VariantCategoryForm, ProductCategoryForm, ProductBrandForm},
        props: {
            model: {
                type: Object,
                default: () => ( new Product() )
            }
        },
        data: () => ({
            parentTypeName: 'product',
            typeName: 'product_create',
            activeNestedComponent: ''
        }),
        mixins: [createOrUpdateItem, openOrCloseModal, baseMixin],
        computed: {
            ...mapGetters(['getAllProductBrands', 'getAllCategories', 'getAllVariants'])
        },
        methods: {
            dropdownsWithCreateNew(arr){
                let t = Array.from(arr)
                t.push('Create New')
                return t
            },
            nestedCreate(m, type) {
                let createFlag = false, postTypeName = '', cName = ''
                if (type === 'categories') {
                    createFlag = this.model.categories.includes('Create New')
                    cName = 'ProductCategoryForm'
                    postTypeName = 'product_category'
                    if (createFlag) this.model.categories = m.filter(item => item !== 'Create New')
                } else if (type === 'variantCategories') {
                    createFlag = this.model.variantCategories.includes('Create New')
                    cName = 'VariantCategoryForm'
                    postTypeName = 'variant_category'
                    if (createFlag) this.model.variantCategories = m.filter(item => item !== 'Create New')
                } else if (type === 'brand') {
                    createFlag = this.model.brand === 'Create New'
                    cName = 'ProductBrandForm'
                    postTypeName = 'product_brand'
                    if (createFlag) this.model.brand = ''
                }
                if (createFlag) {
                    this.activeNestedComponent = cName
                    /* comment out to use router-view */
                    //this.setNestedTypeName(postTypeName)
                    console.log(postTypeName)
                    this.openModal()
                }
            },
            /*setNestedTypeName(n) {
                this.typeName = this.parentTypeName + '_create_'+n
                this.$store.dispatch('setActiveFormTypeAction', n)
            },*/
            openModal() {
                this.$store.dispatch('openModalAction', {ops: 'create', isNested: true})
            },
            closeModal() {
                this.typeName = this.parentTypeName
                this.$store.dispatch('closeModalAction', true)
            },
        }
    }
</script>

<style scoped>

</style>