<template>
    <div class="box px-5">
        <div class="label is-size-4 pb-4">{{getPreTitle}}  Product Brand</div>
        <div>
            <div class="field">
                <label class="label has-text-weight-medium">Name</label>
                <div class="control">
                    <input @input="syncModel(model)" v-model="model.name" class="input" placeholder="e.g. Lux" type="text">
                </div>
            </div>

            <div class="field">
                <div>
                    <label class="label has-text-weight-medium">Parent (optional)</label>
                    <multi-select @input="syncModel(model)" v-model="model.parent" placeholder="Select Parent" :options="getAllProductBrands.map(a => a.name)" :searchable="false"></multi-select>
                </div>
            </div>
        </div>
        <BaseFormActions/>
    </div>
</template>
<script>
    import ProductBrand from "../../model/ProductBrand";
    import CreateOrUpdateItem from "../../mixins/createOrUpdateItem";
    import BaseFormActions from "../core/BaseFormActions";
    import {mapGetters} from "vuex";

    export default {
        name: 'ProductBrandForm',
        components: {BaseFormActions},
        props: {
            model: {
                type: Object,
                default: () => (new ProductBrand())
            }
        },
        mixins: [CreateOrUpdateItem],
        computed: {
            ...mapGetters(['getAllProductBrands'])
        }
    }
</script>