<template>
    <div class="box px-5">
        <div class="label is-size-4 pb-4">{{getPreTitle}} Product Category</div>
        <div>
            <div class="field">
                <label class="label has-text-weight-medium">Name</label>
                <div class="control">
                    <input v-model="model.name" @input="syncModel(model)" class="input" placeholder="e.g. Lux" type="text">
                </div>
            </div>
        </div>
        <BaseFormActions/>
    </div>
</template>
<script>
    import ProductCategory from "../../model/ProductCategory";
    import BaseFormActions from "../core/BaseFormActions";
    import CreateOrUpdateItem from "../../mixins/createOrUpdateItem";

    export default {
        name: 'ProductCategoryForm',
        components: {BaseFormActions},
        props: {
            model: {
                type: Object,
                default: () => (new ProductCategory())
            }
        },
        mixins: [CreateOrUpdateItem]
    }
</script>
