<template>
    <div class="box px-5">
        <div class="label is-size-4 pb-4">{{getPreTitle}} Variant Category</div>
        <div>
            <div class="field">
                <label class="label has-text-weight-medium">Name</label>
                <div class="control">
                    <input @input="syncModel(model)" v-model="model.name" class="input" placeholder="e.g. Lux" type="text">
                </div>
            </div>
        </div>
        <BaseFormActions/>
    </div>
</template>
<script>
    import VariantCategory from "../../model/VariantCategory";
    import CreateOrUpdateItem from "../../mixins/createOrUpdateItem";
    import BaseFormActions from "../core/BaseFormActions";

    export default {
        name: 'VariantCategoryForm',
        components: {BaseFormActions},
        props: {
            model: {
                type: Object,
                default: () => (new VariantCategory())
            }
        },
        mixins: [CreateOrUpdateItem]
    }
</script>
